<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['dashboard']">
      <img src="../assets/contacts-icon.ico" width="30" height="30" alt=""/> ContactsApp
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]='["list"]'>List Contacts</a>
        <a class="nav-item nav-link active" [routerLink]='["add"]'>Add Contact</a>
        <a class="nav-item nav-link active" [routerLink]='["dashboard"]'>Dashboard</a>
      </div>
    </div>
</nav>
  <main>
    <router-outlet></router-outlet>
  </main>

<footer class="page-footer font-small bg-dark text-white-50 pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">DECLARATION</h5>
          <p class="text-justify">This site uses web storage to store data and is just for demo. To begin with few dummy contacts has been added. You can edit them or delete based upon your choice.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020:
      <a>Konar S Suresh</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->